<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011350367699-75qrl45qqo78g56nae09anlpa71db21e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011350367699-75qrl45qqo78g56nae09anlpa71db21e</string>
	<key>API_KEY</key>
	<string>AIzaSyCPbqjxIY5K653Zss7DSScaa-e2A72POsA</string>
	<key>GCM_SENDER_ID</key>
	<string>1011350367699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.teamcdcapp</string>
	<key>PROJECT_ID</key>
	<string>teamcdc-eaf9a</string>
	<key>STORAGE_BUCKET</key>
	<string>teamcdc-eaf9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011350367699:ios:8581e72fe3d3e7d4741326</string>
</dict>
</plist>